Model/nb_model.joblib filter=lfs diff=lfs merge=lfs -text
Model/vectorizer.joblib filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
Model/*.joblib filter=lfs diff=lfs merge=lfs -text
