::root {
    --left-bg-color: #cce5ff;
    /* Light blue */
    --right-bg-color: #f8d7da;
    /* Light red */
}

.Article {
    font-family: var(--primary-font);
    max-width: 800px;
    margin: 40px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftLabel {
    background-color: var(--left-bg-color);
}

.rightLabel {
    background-color: var(--right-bg-color);
}

.leftLabel .label {
    color: blue;
}

.rightLabel .label {
    color: red;
}
.title {
    font-family: var(--secondary-font);
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.label {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.date {
    font-size: 0.9em;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.publisher {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    padding: 4px;
}

.publisher a {
    color: var(--secondary-color);
    text-decoration: none;
}

.publisher a:hover {
    text-decoration: underline;
}

.body {
    font-size: 1.2em;
    line-height: 1.8;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.body p {
    margin-bottom: 20px;
}

.body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.body blockquote {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    color: var(--secondary-color);
    border-left: 4px solid var(--accent-color);
    padding-left: 20px;
    margin: 20px 0;
}

.body ul,
.body ol {
    margin-bottom: 20px;
    padding-left: 40px;
}

.body li {
    margin-bottom: 10px;
}
